html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #eee;
}

body {
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.entity {
    position: absolute;
    --height: 100px;
    height: var(--height);
    text-align: center;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    transform: translate(-50%, -100%);
}

.selected {
    filter: drop-shadow(0px 0px 15px gold);
}

#main-area {
    display: flex;
    min-width: 100vw;
    height: 100%;
    flex-direction: row;
}

#options {
    flex: 1 0 15vw;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #444;
}

.options-row {
    display: flex;
    text-align: center;
}

.options-header {
    text-align: center;
    font-size: 24pt;
    margin-top: 10px;
    margin-bottom: 10px;
}


#entities {
    position: relative;
    user-select: none;
}

#world {
    flex: 9 0 85vw;
    min-height: 90vh;
    max-height: 90vh;
    overflow: hidden;
}

#menubar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    min-width: 100vw;
    background: #222;
}

.menu-item {
    font-size: 24px;
    color: #ccc;
    margin: 20px;
}

#display {
    width: 100%;
    height: 100%;
    background: #333;
}

#options .options-label {
    flex: 0 1;
    width: 100%;
    font-size: 150%;
}

.options-row .options-field-numeric {
    flex: 2;
    width: 50%;
    font-size: 150%;
}

.options-row .options-field-unit {
    flex: 1;
    width: 50%;
    font-size: 150%;
}
