@import url('https://fonts.googleapis.com/css?family=Coda&display=swap');

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #eee;
}

body {
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    font-family: 'Coda', cursive;
}

.entity-box {
    position: absolute;
    --height: 100px;
    max-height: var(--height);
    height: var(--height);
    text-align: center;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
    transition: left 0.2s cubic-bezier(.1,.41,.18,.99), top 0.2s cubic-bezier(.1,.41,.18,.99), height 0.2s cubic-bezier(.1,.41,.18,.99), max-height 0.2s cubic-bezier(.1,.41,.18,.99);
}

.entity-image {
    position: absolute;
    height: 100%;
    pointer-events: auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    --offset: -100%;
    transform: translate(-50%, var(--offset));
}

.entity-name {
    display: none;
    position: absolute;
    top: calc(-100% + var(--extra) / 2);
    left: 0%;
    transform: translate(-50%, -36px);
    font-size: 24px;
    pointer-events: none;
    max-width: 250px;
    width: 250px;
    transition: all 0s;
}

body.toggle-entity-name .entity-name {
    display: inline;
}

.entity-box.selected > img {
    filter: drop-shadow(0px 0px 5px gold);
}

body.toggle-entity-glow .entity-box:not(.selected) > img{
    filter: drop-shadow(0px 0px 2px white);
}

#main-area {
    min-height: 0px;
    display: flex;
    flex: 1 1 90vh;
    width: 100%;
    flex-direction: row;
}

#options {
    min-width: 120pt;
    flex: 1 0 15vw;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #444;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    scrollbar-color: #e1e1e1 #888;
}

#options-attribution {
    display: none;
}
#options::-webkit-scrollbar {
    height: 2px;
  }
#options::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
#options::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
#options::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
#options::-webkit-scrollbar-thumb:active {
    background: #000000;
}
#options::-webkit-scrollbar-track {
    background: #00000000;
    border: 0px none #ffffff;
    border-radius: 50px;
}
#options::-webkit-scrollbar-track:hover {
    background: #666666;
}
#options::-webkit-scrollbar-track:active {
    background: #333333;
}
#options::-webkit-scrollbar-corner {
    background: transparent;
}

.options-two-buttons {
    display: flex;
    justify-content: space-evenly;
}
.options-row {
    display: flex;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.options-block {
    display: flex;
    text-align: center;
    min-width: 100%;
    flex-direction: column;
}

@media (max-aspect-ratio: 1/1) {

    .options-row {
        flex-direction: column;
    }

    .options-row > .options-field-numeric {
        width: 100%;
    }

    .options-row > .options-field-unit {
        width: 100%;
    }
}

.options-header {
    text-align: center;
    font-size: 24pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.options-selector {
    font-size: 150%;
    width: 100%;
}


#entities {
    position: absolute;
    user-select: none;
    width: 100%;
    height: 100%;
}

#world {
    position: relative;
    flex: 1 0 85vw;
    height: 100%;
    overflow: hidden;
}

#menubar {
    display: flex;
    flex: 1 0 10vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100vw;
    background: #222;
}

#menubar.hover-delete {
    background: #922;
}

.menubar-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menubar-group button,
.menubar-group select {
    height: 5vh;
}

.menu-item {
    font-size: 24px;
    color: #ccc;
    margin: 20px;
}

select.menu-item {
    color: #000;
}

#display {
    width: 100%;
    height: 100%;
    background: #333;
}

#options .options-label {
    flex: 0 1;
    width: 100%;
    font-size: 150%;
}

.options-label {
    text-align: center;
}

.options-row .options-field-numeric {
    flex: 1 1 60%;
    min-width: 0px;
    font-size: 150%;
}

.options-row .options-field-text {
    flex: 1 1 100%;
    min-width: 0px;
    font-size: 150%;
}

.options-row .options-field-unit {
    flex: 1 1 40%;
    min-width: 0px;
    font-size: 150%;
}

.options-row .options-button {
    flex: 1;
    width: 100%;
    font-size: 150%;
}

.options-block .options-button {
    flex: 1;
    width: 100%;
    font-size: 150%;
}

.options-row label {
    flex: 1;
    width: 100%;
    font-size: 150%;
}

body #test-canvas {
    position: fixed;
    top: 500vh;
}

.switch {
    height: 24pt;
}

.switch input {
    transform: scale(2);
}

.bottom-name {
    display: none;
    text-align: center;
    position: fixed;
    width: 150px;
    height: 50px;
    transform: translate(-50%, 0%);
}

body.toggle-bottom-name .bottom-name {
    display: inline;
}

#spawners > button {
    display: none;
    font-size: 24pt;
}
#spawners > select {
    display: none;
    font-size: 24pt;
}

#spawners > select#category-picker {
    display: inline;
}

#spawners > button.category-visible,
#spawners > select.category-visible {
    display: inline;
}

#menubar button {
    font-size: 24pt;
}

#help {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 60vw;
    height: 60vh;
    margin: 0pt;
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 20vw;
    padding-right: 20vw;
    transition: 1s;
    text-align: center;
    background: #333;
    opacity: 0;
    z-index: 9999999;
}

#help.visible {
    display: flex;
    opacity: 0.9;
    transition: 1s;
}

#help h1 {
    font-size: 150%;
}

#help p {
    font-size: 125%;
}

#help button {
    width: 20vw;
    height: 10vh;
    font-size: 9vh;
}

a { 
    color: #999;
}

#options-attribution-authors {
    text-align: center;
}

#options-attribution-owners {
    text-align: center;
}

#options-attribution-source {
    text-align: center;
}

.floating-slider {
    position: absolute;
    z-index: 1000;
    width: 250px;
    height: 50px;
}

#slider-scale {
    top: 1%;
    left: 5%;
}

#slider-scale:before {
    content: "World scale";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 20px;
}

#slider-entity-scale {
    top: 1%;
    right: 5%;
}

#slider-entity-scale:before {
    content: "Entity scale";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 20px;
}

.no-transition {
    transition: 0s !important;
}

.corner-ribbon {
  width: 200px;
  background: #e43;
  position: fixed;
  top: 25px;
  left: -50px;
  text-align: center;
  padding: 10px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.bottom-right{
    top: auto;
    right: -50px;
    bottom: 25px;
    left: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

a.corner-ribbon {
    text-decoration: none;
}

input[type=checkbox] {
    transform: scale(2);
    margin-left: 10px;
    margin-right: 10px;
}

input ~ label {
    user-select: none;
}

body.toggle-height-bars .height-bar {
    display: block;
}

.height-bar {
    display: none;
    min-width: calc(var(--xpos));
    min-height: 3px;
    height: 3px;
    position: absolute;
    opacity: 50%;
    background: repeating-linear-gradient(90deg, #ffffff, #ffffff 20px, #ffffff00 20px, #ffffff00 40px);
    top: calc(-100% + var(--extra));
    left: calc(-1 * var(--xpos));
    transition: 0s all;
    z-index: -1;
}

.height-bar::before {
    display: block;
    background: gray;
    position: absolute;
    content: var(--entity-height);
    transition: 0s all;
}

.height-bar::after {
    display: block;
    min-width: 24px;
    min-height: 3px;
    background: #ffffff;
    position: absolute;
    left: calc(var(--xpos) - 24px);
    transition: 0s all;
    content: "";
}