@import url('https://fonts.googleapis.com/css?family=Coda&display=swap');

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #eee;
}

body {
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    font-family: 'Coda', cursive;
}

.entity-box {
    position: absolute;
    --height: 100px;
    max-height: var(--height);
    height: var(--height);
    text-align: center;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
}

.entity-image {
    position: absolute;
    height: 100%;
    pointer-events: auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    --offset: -100%;
    transform: translate(-50%, var(--offset));
}

.entity-name {
    display: none;
    position: absolute;
    top: -100%;
    left: 0%;
    transform: translate(-50%, -36px);
    font-size: 24px;
    pointer-events: none
}

body.toggle-entity-name .entity-name {
    display: inline;
}

.entity-box.selected > img {
    filter: drop-shadow(0px 0px 5px gold);
}

.entity-box:not(.selected) > img{
    filter: drop-shadow(0px 0px 2px white);
}

#main-area {
    display: flex;
    min-width: 100vw;
    height: 90vh;
    flex-direction: row;
}

#options {
    min-width: 120pt;
    flex: 1 0 15vw;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #444;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    scrollbar-color: #e1e1e1 #888;
    scrollbar-width: thin;
}

#options-attribution {
    display: none;
}
#options::-webkit-scrollbar {
    width: 3px;
    height: 2px;
  }
#options::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
#options::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
#options::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
#options::-webkit-scrollbar-thumb:active {
    background: #000000;
}
#options::-webkit-scrollbar-track {
    background: #00000000;
    border: 0px none #ffffff;
    border-radius: 50px;
}
#options::-webkit-scrollbar-track:hover {
    background: #666666;
}
#options::-webkit-scrollbar-track:active {
    background: #333333;
}
#options::-webkit-scrollbar-corner {
    background: transparent;
}

.options-row {
    display: flex;
    text-align: center;
    width: 100%;
}

.options-block {
    display: flex;
    text-align: center;
    min-width: 100%;
    flex-direction: column;
}

@media (max-aspect-ratio: 1/1) {

    .options-row {
        flex-direction: column;
    }

    .options-row > .options-field-numeric {
        width: 100%;
    }

    .options-row > .options-field-unit {
        width: 100%;
    }
}

.options-header {
    text-align: center;
    font-size: 24pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.options-selector {
    font-size: 150%;
    width: 100%;
}


#entities {
    position: relative;
    user-select: none;
}

#world {
    flex: 9 0 85vw;
    min-height: 85vh;
    max-height: 85vh;
    overflow: hidden;
}

#menubar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 10vh;
    min-width: 100vw;
    background: #222;
    transition: 0.25s;
}

#menubar.hover-delete {
    background: #922;
}

.menubar-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menubar-group button,
.menubar-group select {
    height: 5vh;
}

.menu-item {
    font-size: 24px;
    color: #ccc;
    margin: 20px;
}

select.menu-item {
    color: #000;
}

#display {
    width: 100%;
    height: 100%;
    background: #333;
}

#options .options-label {
    flex: 0 1;
    width: 100%;
    font-size: 150%;
}

.options-label {
    text-align: center;
}

.options-row .options-field-numeric {
    flex: 1 1 60%;
    min-width: 0px;
    font-size: 150%;
}

.options-row .options-field-text {
    flex: 1 1 100%;
    min-width: 0px;
    font-size: 150%;
}

.options-row .options-field-unit {
    flex: 1 1 40%;
    min-width: 0px;
    font-size: 150%;
}

.options-row .options-button {
    flex: 1;
    width: 100%;
    font-size: 150%;
}

.options-block .options-button {
    flex: 1;
    width: 100%;
    font-size: 150%;
}

.options-row label {
    flex: 1;
    width: 100%;
    font-size: 150%;
}

body #test-canvas {
    position: fixed;
    top: 100vh;
}

.switch {
    height: 24pt;
}

.switch input {
    transform: scale(2);
}

.bottom-name {
    display: none;
    text-align: center;
    position: fixed;
    width: 75px;
    height: 50px;
    transform: translate(-50%, 0%);
}

body.toggle-bottom-name .bottom-name {
    display: inline;
}

#spawners > button {
    display: none;
    font-size: 24pt;
}
#spawners > select {
    display: none;
    font-size: 24pt;
}

#spawners > select#category-picker {
    display: inline;
}

#spawners > button.category-visible,
#spawners > select.category-visible {
    display: inline;
}

#menubar button {
    font-size: 24pt;
}

#help {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 60vw;
    height: 60vh;
    margin: 0pt;
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 20vw;
    padding-right: 20vw;
    transition: 1s;
    text-align: center;
    background: #333;
    opacity: 0;
    z-index: 9999999;
}

#help.visible {
    display: flex;
    opacity: 0.9;
    transition: 1s;
}

#help h1 {
    font-size: 150%;
}

#help p {
    font-size: 125%;
}

#help button {
    width: 20vw;
    height: 10vh;
    font-size: 9vh;
}

a { 
    color: #999;
}
